

/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "News Cycle";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Noto serif";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Montserrat";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: left;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Mulish";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "DM Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Barlow";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Josefin Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 1;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: left;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Open Sans";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.term {
  font-weight: bold;
  color: #136f63;
}
